## Web app
# server configuration
PORT=3001
# client configuration
API_PATH=http://localhost:3001/api
#API_PATH=https://abc/api
# dotenv interpret everything as string, code check if string is 'true'
TESTING=false
PRICE=0.50
CURRENCY=€
#CURRENCY=sats

## Vending machine
VENDING_MACHINE=http://x.x.x.x

## LND Node configuration
LND_GRPC_URL=127.0.0.1:10006
LND_MACAROON=[base64 encoded admin macaroon]
LND_TLS_CERT=[base64 encoded]