// Title
@import url('https://fonts.googleapis.com/css?family=Acme&display=block');
// Monospace
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono&display=block');
// All other Text
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=block');

.monospace {
  font-family: 'Oxygen Mono', monospace;
  font-size: 0.7rem;
  word-break: break-word;
}

/* Colors */
$primary: #2d8c69;
$secondary: #f1c40f;
$tertiary: #212121;

#root {
  background-color: #f5f5f5d4;
  font-family: Merriweather, serif;
  display: grid;
  grid-template-rows: 150px auto auto;
  min-height: 100vh;
}

header {
  .header__title {
    text-align: center;
    margin: 15px 20px 30px 20px;
    color: $secondary;
    text-shadow: 3px 3px 0 $tertiary, -1px -1px 0 $tertiary, 1px -1px 0 $tertiary, -1px 1px 0 $tertiary, 1px 1px 0 $tertiary;
  }
  
  img#BitcoinStudioLogo {
    position: absolute;
    align-items: start;
    top: 15px;
    left: 15px;
    
    @media screen and (max-width: 576px) {
      & {
        top: 5px;
        left: 5px;
        height: 25px;
      }
    }
    @media screen and (min-width: 576px) and (max-width: 768px) {
      & {
        height: 50px;
      }
    }
    @media screen and (min-width: 768px) {
      & {
        height: 70px;
      }
    }
  }
  
  /*
  img#LiveStreamYouTube {
    display: block;
    height: 80px;
    margin: -15px auto 30px auto;
  }
  */
}

h1, h2, h3, h4, h5, h6 {
  font-family: Acme, sans-serif;
}
h1 {
  font-size: 3rem;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 5%;
  @media screen and (max-width: 415px) {
    & {
      margin: 0;
    }
  }
  @media screen and (max-width: 576px) {
    & {
      grid-column-gap: 1%;
    }
  }
  @media screen and (min-width: 576px) {
    & {
      grid-column-gap: 2%;
    }
  }

  .coffee {
    border: 1px solid lighten($tertiary, 55%);
    border-radius: 0.25rem;
    display: grid;
    grid-template-rows: auto 35px 1fr 50px 30px;
    word-wrap: break-word;
    @media screen and (max-width: 576px) {
      & {
        padding: 5%;
      }
    }
    @media screen and (min-width: 576px) {
      & {
        padding: 10%;
      }
    }

    img {
      width: 85%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      margin-top: 10px;

      @media screen and (max-width: 576px) {
        & {
          font-size: 0.55rem;
        }
      }
      @media screen and (min-width: 576px) and (max-width: 768px) {
        & {
          font-size: 0.7rem;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        & {
          font-size: 0.8rem;
        }
      }
      @media screen and (min-width: 992px) and (max-width: 1200px) {
        & {
          font-size: 0.9rem;
        }
      }
      @media screen and (min-width: 1200px) {
        & {
          font-size: 1rem;
        }
      }
    }

    p {
      line-height: 18px;
      
      @media screen and (max-width: 576px) {
        & {
          font-size: 0.4rem;
        }
      }
      @media screen and (min-width: 576px) and (max-width: 768px) {
        & {
          font-size: 0.5rem;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        & {
          font-size: 0.6rem;
        }
      }
      @media screen and (min-width: 992px) and (max-width: 1200px) {
        & {
          font-size: 0.68rem;
        }
      }
      @media screen and (min-width: 1200px) {
        & {
          font-size: 0.7rem;
        }
      }
    }

    .buttonBuy {
      background-color: $primary;
      border: 1px solid transparent;
      border-radius: 2px;
      color: #fff;
      font-family: Merriweather, serif;
      line-height: 1.5;

      &:focus {
        animation: blink 1s;
        outline:0;
      }
      @keyframes blink {
        0% { border: darken($primary, 15%) solid 2px; }
        25% { border: lighten($primary, 20%) solid 2px; }
        50% { border: darken($primary, 15%) solid 2px; }
        75% { border: lighten($primary, 20%) solid 2px; }
        100% { border: darken($primary, 15%) solid 2px; }
      }

      @media screen and (max-width: 576px) {
        & {
          font-size: 0.5rem;
        }
      }
      @media screen and (min-width: 576px) and (max-width: 768px) {
        & {
          font-size: 0.55rem;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        & {
          font-size: 0.7rem;
        }
      }
      @media screen and (min-width: 992px) and (max-width: 1200px) {
        & {
          font-size: 0.9rem;
        }
      }
      @media screen and (min-width: 1200px) {
        & {
          font-size: 0.9rem;
        }
      }
    }

    /* Intensity level */
    .intensity {
      margin-bottom: 5px;
      
      .intensity__title {
        font-family: Acme, sans-serif;
        font-size: 0.8rem;
        margin-bottom: 5px;
      }
      
      & .intensity__squares {
        display: flex;
    
        .intensity__square {
          border: solid 1px $tertiary;
          margin: 1px;
          width: 7%;
      
          @media screen and (max-width: 576px) {
            & {
              height: 5px;
            }
          }
          @media screen and (min-width: 576px) and (max-width: 768px) {
            & {
              height: 8px;
            }
          }
          @media screen and (min-width: 768px) {
            & {
              height: 11px;
            }
          }
        }
    
        .intensity__square-active {
          background-color: $tertiary;
        }
      }
    }
  }
}

footer {
  font-family: Merriweather, serif;
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-align: center;
  align-self: end;

  a {
    color: $primary;
    &:hover {
      color: darken($secondary, 10%);
      cursor: pointer;
      text-decoration: none;
    }
    &:active, &:focus, &:visited {
      border: none;
      outline: 0;
      text-decoration: none;
      -moz-outline-style: none;
    }
  }

  p {
    margin-top: 30px;
  }
}

/* Modals */
.app-modal {
  .row {
    margin-bottom: 10px;
  }

  .titleModal p {
    font-family: Acme, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 75px;
    margin: 0;
  }

  .progress {
    background-color: #e9ecef;
    border-radius: 0;
    height: 1.2rem;
    left: -31px;
    position: relative;
    top: -26px;
    width: calc(100% + 62px);
  
    .progress-bar {
      background-color: lighten($primary, 20%);
  
      .progress-bar__text {
        color: black;
        font-weight: bold;
        left: 5%;
        position: absolute;
      }
    }
  }
  
  .qrcodeWrapper {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }

  .btn {
    border-radius: 0;
    font-family: Acme, sans-serif;
    width: 100%;
    &:hover {
      color: #fff;
    }
  }
  .btn-outline-info {
    color: $primary;
    border-color: $primary;
    &:hover {
      border-color: $primary;
      background-color: $primary;
    }
  }
  .btn-outline-warning {
    color: $secondary;
    border-color: $secondary;
    &:hover {
      border-color: $secondary;
      background-color: $secondary;
    }
  }
}

.invoiceInfo {
  font-family: Merriweather, serif;

  p {
    margin-bottom: 0.25rem;
  }

  .invoiceInfo-col1 {
    :first-child {
      font-size: 0.8rem;
      font-weight: bold;
      font-family: Acme, sans-serif;
    }
    font-size: 0.65rem;
  }

  .invoiceInfo-col2 {
    :first-child {
      font-size: 0.8rem;
    }
    font-size: 0.65rem;
  }
}

.invoice-settled {
  .invoice-settle__image {
    display: block;
    margin: 40px auto 25px auto;
    width: 100%;
  }
}

.error-modal {
  .error-modal__message {
    margin-bottom: 3rem;
  }
}


.link, .link span {
  background-color: lighten($secondary, 35%);
  color: $tertiary;
  font-size: 10px;
  padding: 4px;

  &:hover {
    color: darken($primary, 20%);
    cursor: pointer;
    text-decoration: none;
  }

  &:active, &:focus, &:visited {
    border: none;
    outline: 0;
    text-decoration: none;
    -moz-outline-style: none;
  }
}

.link--btn {
  appearance: none;
  border: none;
  margin: 0 2%;
  
  &#copyIcon {
    img {
      height: 13px;
    }
  }
}

/** Action links **/
a#copyIcon {
  margin-left: 10px;
  img {
    width: 10px;
  }
}
.actionLinksClicked {
  animation: blinkActionLinks 1s;
}
@keyframes blinkActionLinks {
  0% { color: $secondary; }
  25% { color: $primary; }
  50% { color: $secondary; }
  75% { color: $primary; }
  100% { color: $secondary; }
}

.spinner-container {
  grid-column: 3;
  & > div {
    width: 9rem;
    height: 9rem;
  }
}