@import url(https://fonts.googleapis.com/css?family=Acme&display=block);
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono&display=block);
@import url(https://fonts.googleapis.com/css?family=Merriweather&display=block);

.monospace {font-family: Oxygen Mono, monospace;font-size: .7rem;word-break: break-word}

#root {background-color: hsla(0, 0%, 96.1%, .83);font-family: Merriweather, serif;display: grid;grid-template-rows: 150px auto auto;min-height: 100vh}

header .header__title {text-align: center;margin: 15px 20px 30px;color: #f1c40f;text-shadow: 3px 3px 0 #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121, 1px 1px 0 #212121}

header img#BitcoinStudioLogo {position: absolute;align-items: start;top: 15px;left: 15px}

@media screen and (max-width: 576px) {
    header img#BitcoinStudioLogo {top: 5px;left: 5px;height: 25px}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    header img#BitcoinStudioLogo {height: 50px}
}

@media screen and (min-width: 768px) {
    header img#BitcoinStudioLogo {height: 70px}
}

h1, h2, h3, h4, h5, h6 {font-family: Acme, sans-serif}

h1 {font-size: 3rem}

main {display: grid;grid-template-columns: repeat(5, 1fr);margin: 0 5%}

@media screen and (max-width: 415px) {
    main {margin: 0}
}

@media screen and (max-width: 576px) {
    main {grid-column-gap: 1%}
}

@media screen and (min-width: 576px) {
    main {grid-column-gap: 2%}
}

main .coffee {border: 1px solid #adadad;border-radius: .25rem;display: grid;grid-template-rows: auto 35px 1fr 50px 30px;word-wrap: break-word}

@media screen and (max-width: 576px) {
    main .coffee {padding: 5%}
}

@media screen and (min-width: 576px) {
    main .coffee {padding: 10%}
}

main .coffee img {width: 85%;display: block;margin-left: auto;margin-right: auto}

main .coffee h2 {margin-top: 10px}

@media screen and (max-width: 576px) {
    main .coffee h2 {font-size: .55rem}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    main .coffee h2 {font-size: .7rem}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main .coffee h2 {font-size: .8rem}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main .coffee h2 {font-size: .9rem}
}

@media screen and (min-width: 1200px) {
    main .coffee h2 {font-size: 1rem}
}

main .coffee p {line-height: 18px}

@media screen and (max-width: 576px) {
    main .coffee p {font-size: .4rem}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    main .coffee p {font-size: .5rem}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main .coffee p {font-size: .6rem}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main .coffee p {font-size: .68rem}
}

@media screen and (min-width: 1200px) {
    main .coffee p {font-size: .7rem}
}

main .coffee .buttonBuy {background-color: #2d8c69;border: 1px solid transparent;border-radius: 2px;color: #fff;font-family: Merriweather, serif;line-height: 1.5}

main .coffee .buttonBuy:focus {-webkit-animation: blink 1s;animation: blink 1s;outline: 0}

@-webkit-keyframes blink {
    0% {border: 2px solid #1a523e}
    25% {border: 2px solid #56c99f}
    50% {border: 2px solid #1a523e}
    75% {border: 2px solid #56c99f}
    to {border: 2px solid #1a523e}
}

@keyframes blink {
    0% {border: 2px solid #1a523e}
    25% {border: 2px solid #56c99f}
    50% {border: 2px solid #1a523e}
    75% {border: 2px solid #56c99f}
    to {border: 2px solid #1a523e}
}

@media screen and (max-width: 576px) {
    main .coffee .buttonBuy {font-size: .5rem}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    main .coffee .buttonBuy {font-size: .55rem}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main .coffee .buttonBuy {font-size: .7rem}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main .coffee .buttonBuy {font-size: .9rem}
}

@media screen and (min-width: 1200px) {
    main .coffee .buttonBuy {font-size: .9rem}
}

main .coffee .intensity {margin-bottom: 5px}

main .coffee .intensity .intensity__title {font-family: Acme, sans-serif;font-size: .8rem;margin-bottom: 5px}

main .coffee .intensity .intensity__squares {display: flex}

main .coffee .intensity .intensity__squares .intensity__square {border: 1px solid #212121;margin: 1px;width: 7%}

@media screen and (max-width: 576px) {
    main .coffee .intensity .intensity__squares .intensity__square {height: 5px}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    main .coffee .intensity .intensity__squares .intensity__square {height: 8px}
}

@media screen and (min-width: 768px) {
    main .coffee .intensity .intensity__squares .intensity__square {height: 11px}
}

main .coffee .intensity .intensity__squares .intensity__square-active {background-color: #212121}

footer {font-family: Merriweather, serif;font-size: 1.3rem;margin-bottom: 10px;text-align: center;align-self: end}

footer a {color: #2d8c69}

footer a:hover {color: #c29d0b;cursor: pointer;text-decoration: none}

footer a:active, footer a:focus, footer a:visited {border: none;outline: 0;text-decoration: none;-moz-outline-style: none}

footer p {margin-top: 30px}

.app-modal .row {margin-bottom: 10px}

.app-modal .titleModal p {font-family: Acme, sans-serif;text-align: center;font-size: 1.5rem;line-height: 75px;margin: 0}

.app-modal .progress {background-color: #e9ecef;border-radius: 0;height: 1.2rem;left: -31px;position: relative;top: -26px;width: calc(100% + 62px)}

.app-modal .progress .progress-bar {background-color: #56c99f}

.app-modal .progress .progress-bar .progress-bar__text {color: #000;font-weight: 700;left: 5%;position: absolute}

.app-modal .qrcodeWrapper {padding: 10px;border: 1px solid rgba(0, 0, 0, .1);margin: 10px 0}

.app-modal .btn {border-radius: 0;font-family: Acme, sans-serif;width: 100%}

.app-modal .btn:hover {color: #fff}

.app-modal .btn-outline-info {color: #2d8c69;border-color: #2d8c69}

.app-modal .btn-outline-info:hover {border-color: #2d8c69;background-color: #2d8c69}

.app-modal .btn-outline-warning {color: #f1c40f;border-color: #f1c40f}

.app-modal .btn-outline-warning:hover {border-color: #f1c40f;background-color: #f1c40f}

.invoiceInfo {font-family: Merriweather, serif}

.invoiceInfo p {margin-bottom: .25rem}

.invoiceInfo .invoiceInfo-col1 {font-size: .65rem}

.invoiceInfo .invoiceInfo-col1 :first-child {font-size: .8rem;font-weight: 700;font-family: Acme, sans-serif}

.invoiceInfo .invoiceInfo-col2 {font-size: .65rem}

.invoiceInfo .invoiceInfo-col2 :first-child {font-size: .8rem}

.invoice-settled .invoice-settle__image {display: block;margin: 40px auto 25px;width: 100%}

.error-modal .error-modal__message {margin-bottom: 3rem}

.link, .link span {background-color: #fbedb8;color: #212121;font-size: 10px;padding: 4px}

.link:hover, .link span:hover {color: #143f2f;cursor: pointer;text-decoration: none}

.link:active, .link:focus, .link:visited, .link span:active, .link span:focus, .link span:visited {border: none;outline: 0;text-decoration: none;-moz-outline-style: none}

.link--btn {-webkit-appearance: none;-moz-appearance: none;appearance: none;border: none;margin: 0 2%}

.link--btn#copyIcon img {height: 13px}

a#copyIcon {margin-left: 10px}

a#copyIcon img {width: 10px}

.actionLinksClicked {-webkit-animation: blinkActionLinks 1s;animation: blinkActionLinks 1s}

@-webkit-keyframes blinkActionLinks {
    0% {color: #f1c40f}
    25% {color: #2d8c69}
    50% {color: #f1c40f}
    75% {color: #2d8c69}
    to {color: #f1c40f}
}

@keyframes blinkActionLinks {
    0% {color: #f1c40f}
    25% {color: #2d8c69}
    50% {color: #f1c40f}
    75% {color: #2d8c69}
    to {color: #f1c40f}
}

.spinner-container {grid-column: 3}

.spinner-container > div {width: 9rem;height: 9rem}
